<h1 *ngIf="isAddMode">Add Patinet Description</h1>
<h1 *ngIf="!isAddMode">{{currentUser?.userRole == 'Patient' ? 'Patinet Description' :'Edit Patinet Description'}} </h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(true)">
  <div class="form-row">
    <div class="form-group col">
      <label for="patientId">Patient Name</label>
      <select [disabled]="currentUser?.userRole == 'Patient'" formControlName="patientId" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.patientId.errors }">
        <option *ngFor="let user of users" [value]="user.id">{{user.firstName}} - {{user.lastName}}</option>
      </select>
      <div *ngIf="submitted && f.patientId.errors" class="invalid-feedback">
        <div *ngIf="f.patientId.errors.required">Patient is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="description">Description</label>
      <input [disabled]="currentUser?.userRole == 'Patient'" type="text" formControlName="description"
        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />

      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="medicineDescription">Medicine Description</label>
      <input [disabled]="currentUser?.userRole == 'Patient'" type="text" formControlName="medicineDescription"
        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.medicineDescription.errors }" />

      <div *ngIf="submitted && f.medicineDescription.errors" class="invalid-feedback">
        <div *ngIf="f.medicineDescription.errors.required">Medicine Description is required</div>
      </div>
    </div>
  </div>
  <!---->
  <h1>Patient Medicines</h1>
  <div class="form-row">
    <div class="form-group col">
      <label for="patientId">Pharmacy Name</label>
      <select [disabled]="currentUser?.userRole == 'Patient'" class="form-control" [ngModelOptions]="{standalone: true}"
      (change)="SelectPharmacyMedicines($event)"  [(ngModel)]="pselected">
        <option disabled selected [value]="''">Please Select</option>
        <option *ngFor="let pharmacyBranch of pharmacyBranches" [value]="pharmacyBranch.id">
          {{GetPharmacyName(pharmacyBranch.id)}}
        </option>
      </select>
    </div>
    <div class="form-group col">
      <label for="patientId">Medicine Name</label>
      <select [disabled]="currentUser?.userRole == 'Patient'" class="form-control" [ngModelOptions]="{standalone: true}"
        (change)="Selected($event)" [(ngModel)]="selected">
        <option disabled selected [value]="''">Please Select</option>
        <option *ngFor="let pharmacyMedicine of pharmacyMedicinesForPharmacy" [value]="pharmacyMedicine.id">
          {{GetMedicineName(pharmacyMedicine.medicineId)}}
        </option>
      </select>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="patientId">Inssurance Approve</label>
      <select class="form-control"
        [disabled]=" currentUser?.userRole == 'Physician' || currentUser?.userRole == 'Patient' "
        [ngModelOptions]="{standalone: true}" (change)="InssuranceSelected($event)" [(ngModel)]="inssuranceSelected">
        <option [value]="true">
          Approved
        </option>
        <option selected [value]="false">
          Not Approved
        </option>
      </select>
    </div>
  </div>
  <button type="button" [disabled]="currentUser?.userRole == 'Patient'" (click)="onSubmit(false)">
    {{updatePatientMedicine? 'Update Patient Medicine' : 'Add Patient Medicine'}} </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 30%"> Medicine Name</th>
        <th style="width: 30%"> Inssurance Approve</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patinetMedicine of currentPatinetMedicines">
        <td>{{GetMedicineFullNameFromPharmacyMedicineId(patinetMedicine.pharmacyMedicinesId)}}</td>
        <td>{{patinetMedicine.insuranceAccept ? 'Aprroved' : 'Not Approved'}}</td>
        <td>
          <button [disabled]=" currentUser.userRole == 'Patient'" type="button"
            (click)="editPatientMedicine(patinetMedicine)" class="btn btn-sm btn-primary mr-1">
            Edit
          </button>
          <button [disabled]=" currentUser.userRole == 'Patient'" type="button"
            (click)="deletePatientMedicine(patinetMedicine.pharmacyMedicinesId)"
            class="btn btn-sm btn-danger btn-delete-user">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!---->
  <div class="form-group">
    <button *ngIf="currentUser?.userRole != 'Patient'" type="submit" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading " class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <a routerLink="/patientDescription" class="btn btn-link">Cancel</a>
  </div>
</form>
