<h1>Pharmacies</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Pharmacy</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%"> Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pharmacy of pharmacies">
            <td>{{pharmacy.name}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{pharmacy.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deletePharmacy(pharmacy.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="pharmacy.isDeleting">
                    <span *ngIf="pharmacy.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!pharmacy.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!pharmacies">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
