<h1>Medicines</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Medicine</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%"> Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of medicines">
            <td>{{medicine.name}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{medicine.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteMedicine(medicine.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="medicine.isDeleting">
                    <span *ngIf="medicine.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!medicine.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!medicines">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
